@import url('https://fonts.googleapis.com/css?family=oboto|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Space+Mono');

html, body {
	/*Overrides auto margin & paddings by browsers*/
	margin: 0;
	padding: 0;

	height: 100%;
	width: 100%;
}

/*------------------------ Nav Bar ------------------------*/
.nav_bar {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 8.02%;
  background-color: #071F82;
}

.nav_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0.5% 0 0.5% 0;
    text-align: right; /*puts nav bar on right*/

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 110%;
}

.nav_bar li {
    display: inline-block;
    padding: 0.784%;
}

.nav_bar li a {
  text-decoration: none;
  color: white;  
  padding: 5px 0; /*underline's distance from text. must keep as pixels*/
  background: linear-gradient(to left, white, white) no-repeat bottom left;
  background-size: 0% 8%; /*width of underline*/
  transition: 0.5s;
}

.nav_bar li a.currentPage {
  background-size: 100% 8%;
}

.nav_bar li a.otherPages:hover { /*makes underline under words*/
  background-size: 100% 8%;
}

.titleSection .nav_bar {
  background-color: transparent;
  transition: 0.5s;
}

/*------------------------ HOME PAGE ------------------------*/

.titleSection {
	position: relative;
  top: 0;
  left: 0;
  height: 63%;
  width: 100%;
  overflow: hidden;
  background: url('../images/phillySky.jpg'); /*source: http://cliparts.co/cliparts/8iE/bk7/8iEbk76rT.jpg */
  background-position: center center;
  background-size: cover;
}

#coverImage { 
	height: auto;
    width: auto;
    width: 100%;
    height: 90%;
}

.homeTitle { 
   font-family: 'Open Sans', sans-serif;
   font-weight: 800;
   font-size: 450%;
   color: white;
   position: absolute;
   width: 80%; /*width of appleFestTitle div = 80% of width of its container (titleSection)*/
   text-align: center;

   left: 50%; /*Moves left edge of appleFestTitle to 50% of containing div (titleSection)*/
   top: 70%;
   -moz-transform: translateX(-50%) translateY(-50%);
   -webkit-transform: translateX(-50%) translateY(-50%);
   transform: translateX(-50%) translateY(-50%); /*Translate x: offsets by 50% of width of bounding box (
   element for which style is being applied- appleFestTitle box)*/
}

.homeSubtitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 40%;
  color: white;
}

.mainPageSection {
  padding: 1% 10%;
}

.mainPageImage {
  margin-top: 3%;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 250%;
  color: #071F82;
  text-align: center;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 110%;
  color: black;
}


.description {
  margin-top: 3%;
}

.contactDescription {
  margin-top: .5%;
  font-size: 150%;
  text-align: center;
}

#googleMap { /*Google map showing where building is*/
   width: 100%;
   height: 400px;
   background-color: rgb(102, 102, 102);
 }


/*------------------------ Attorney PAGE ------------------------*/

.attorneyList p {
	padding: 5% 20% 3%;
	color: black;
  text-align: left;
}

.nextLine {
  display: block;
  margin-top: 0.5%;
}

.attorneyItem {
	display: block;
    overflow: hidden;
    background: rgba(206, 206, 206, 0.15);
    width: 80%;
    margin: 1.5% 10%;
}

.attorneyItem .title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 2em;
    color: #071F82;
    width: 60%;
    text-align: left;
    padding: 7% 5% 2%;
    display: block;
    float: left;
}

.attorneyImage {
    width: 30%;
    float: left;
    
}

.attorneyItem p {
    padding: 0 5% 0;
    width: 50%;
    display: block;
    float: left;
    color: black;
}

/*------------------------  Areas of Practices PAGE ------------------------*/

.practicesItem {
  display: block;
    overflow: hidden;
    background: rgba(206, 206, 206, 0.15);
    width: 80%;
    margin: 1.5% 10%;
}

.practicesItem .title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 2em;
    color: #071F82;/*rgb(88, 88, 88);*/
    width: 50%;
    text-align: left;
    padding: 2% 5% 2%;
    display: block;
    float: left;
    
}


.practicesItem p {
    padding: 0% 5% 0%;
    width: 90%;
    display: block;
    float: right;
    line-height: 1.5em;
    color: black;
}

/*------------------------ Responsive Design ------------------------*/

@media screen and (max-width: 480px) {
    p {
      font-size: 40%;
    }

    .title {
      font-size: 200%;
    }
    
    .attorneyTitle{
      font-size: 60%;
    }
    .attorneyItem .title {
        font-size: 1em;
        padding: 7% 5% 1%;
    }
    .attorneyItem p {
        padding: 0 2% 0;
        width: 40%;
        font-size: 0;
    }
    .practicesTitle{
      font-size: 60%;
    }
    .practicesItem .title {
        font-size: 1em;
        padding: 7% 5% 1%;
    }
    .practicesItem p {
        padding: 0 2% 0;
        width: 40%;
    }
    .tg{
      font-size: 20%;
    }
}


